@font-face {
    font-family: 'gilroy', sans-serif;
    src: url(../fonts/gilroy-bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'gilroy', sans-serif;
    src: url(../fonts/gilroy-medium.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'gilroy', sans-serif;
    src: url(../fonts/gilroy-regular.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'gilroy', sans-serif;
    src: url(../fonts/gilroy-semibold.ttf);
    font-weight: 600;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

h1,h2,p{
    margin: 0;
}

body {
    margin: 0;
    background-color: #FFF;
}

html {
    font-family: 'gilroy', sans-serif;
}

.header {
    width: 1170px;
    height: 40px;
    display: flex;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 89px;
    justify-content: space-between;
}

.menu {
    width: 556px;
    height: 17px;
    display: flex;
    justify-content: space-between;
    /* margin-left: 500px; */
}

.header-home {
    color: #F25822;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.header-item {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.intro {
    width: 1172px;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 259px;
}

.intro-title {
    width: 522px;
    color: #000;
    font-size: 60px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.intro-text {
    width: 466px;
    color: #888;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 37px;
}

.start-but {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    margin-right: 72px;
    border: none;

}

.brand-logo {
    width: 1200px;
    height: 50px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    gap: 48px;
}

.link{
    color: #AAA;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
}

.results{
    width: 1172px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 105px;
    /* justify-content: space-between; */
    gap: 30px;
}


.box{
    /* width: 381px;
    height: 291px; */
    border: solid 1px;
    padding: 35px 31px 30px 41px;
    margin-bottom: 192px;
    /* padding-bottom: 95px; */
}

.box-for-title{
    /* width: 285px;
    height: 30px;
    margin-left: 40px; */

}

.box-small-text{
    color: #000;
    font-size: 11px;
    font-weight: 400;
    line-height: 150%; /* 16.5px */
}

.box-title {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.box-text{
    color: #666;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    width: 310px;
    height: 42px;
    margin-top: 17px;
    margin-bottom: 25px;
    /* margin-left: 40px; */
}

.img1{
    /* margin-top: 35px;
    margin-left: 41px; */
    margin-bottom: 25px;
}

.choose-title{
    color: #000;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.choose-text{
    color: #666;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    display: flex;
    /* width: 682px;
    height: 48px; */
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 19px;
}

.reasons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.reasons-item{
    background: #FFF;
    border: solid 1px;
}

.reasons-title{
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.reasons-text{
    color: #AAA;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    margin-top: 22px;
    margin-bottom: 39px;
    width: 310px;
}


.reasons-textbox{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.learn-button{
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    /* margin-right: 72px; */
    border: none;
}